<template name="addCategory">
    <!-- Main -->
    <div id="main-wrapper">
      <div id="main" class="container">
        <h2>Add Category</h2>

        <div class="alert alert-danger hide" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span>Name size should be between 6 and 32.</span>
        </div>

        <form>
          <div class="form-group">
            <label for="add-category-name">Name</label>
            <input type="text" class="form-control input-lg" id="add-category-name" placeholder="Category Name">
          </div>
          <div class="form-group">
            <label for="add-category-desc">Description</label>
            <input type="text" class="form-control input-lg" id="add-category-desc" placeholder="Category Description">
          </div>
          <a href="/categories" class="btn btn-dark btn-lg btn-vlg">Cancel</a>
          <button type="submit" class="btn btn-pink btn-lg btn-vlg submit">Add Category</button>
        </form>
      </div>
    </div>
</template>
